body{
background: #B1B1B2 none no-repeat scroll 0 0;
}
h1{
font-family: "Courier New", Courier, monospace;
font-size: 23px;
letter-spacing: -1.4px;
word-spacing: 4px;
color: #FFFFFF;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
text-align: center;
}
